:root {
    --blush: #ea638cff;
    --fandango: #b33c86ff;
    --russian-violet: #190e4fff;
    --oxford-blue: #03012cff;
    --dark-green: #002a22ff;
}

/* 
* {
    font-family:sans-serif;
    background-color: var(--oxford-blue);
    color:white;
} */